{
	"email": "huobi account",
	"password": "huobi password",

	"access_key":"huobi api key",
	"secret_key":"huobi api key",
	"smtp_username": "songbohr@gmail.com",
	"smtp_password": "xxxx",
	"smtp_host": "smtp.gmail.com",
	"smtp_addr": "smtp.gmail.com:25"
}