# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# mac file
.DS_Store

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
.idea
*.exe
secret.json
cache
bin
log
pid
release
pkg
thirdparty/src
src/github.com
src/code.google.com
src/labix.org
kdj_ex.go
kdj_xc.go
ema_kdj.go
tx.db*

