<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{template "title" .}} | 自动化交易系统</title>
    <!-- Bootstrap -->

    <link href="/static/css/front.css" media="screen" rel="stylesheet" type="text/css">
    {{template "css"}}
    <meta name="keywords" content="比特币,自动化交易系统。">
    <meta name="description" content="比特币,自动化交易系统。">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/weiyan.ico">
  </head>
  <body itemscope="" itemtype="" style="display: block;">
    <meta itemprop="name" content="BTCROBOT - huobi trader robot">
    <meta itemprop="specialty" content="bitcoin exchange rates">

    <div class="navbar navbar-fixed-top"   position: fixed;>
      <div class="navbar-inner">
        <div class="container">
          <h3>
            <a href="/"><img alt="Text_logo" src="/static/img/hacking.png"></a>
          </h3>
          
          <ul class="nav pull-left" id="userbar">
            <li {{if .last}}class="active"{{end}}><a href="/guide" rel="nofollow">微导航</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/huobi" rel="nofollow">火币指标</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/okcoin" rel="nofollow">OKcoin指标</a></li> 
            <li><a href="/engine" rel="nofollow">机器人</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/trade" rel="nofollow">操盘手</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/secret" rel="nofollow">安全设置</a></li> 
            <li><a href="https://github.com/philsong/btcrobot/wiki" target="_blank">帮助</a></li> 
           
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
     {{template "content" .}}
    </div>

    <a class="go_top" href="#" style="display: none;"><i class="icon icons_go_top"></i></a>

    <footer class="footer">
      <div class="container">
          <div class="col2">
            <div class="sidebar">
              <div id="topic_new_tip" class="box">
                <span class="body help-block">
                    <div class="f_left foot_left">
                        <section>
                            <h4><a href=" https://github.com/philsong/btcrobot/wiki/%E6%84%9F%E8%B0%A2%E6%8D%90%E5%8A%A9%E5%BC%80%E5%8F%91%E7%9A%84%E4%BA%BA" target="_blank">捐助清单</a></h4> 
                            <h4><span>捐助BTC，支持开发</span></h4>
                            <img alt="Text_logo" src="/static/img/walletaddress.jpg">
                            <span style="font-size: 80%"><a href="bitcoin:1NDnnWCUu926z4wxA3sNBGYWNQD3mKyes8"> BTC捐赠地址：1NDnnWCUu926z4wxA3sNBGYWNQD3mKyes8</a></span>
         
                            LTC捐赠地址：LXwX5XeZeVfXM2b4GRs6HM1mNn4K9En3F4
                            <hr>
                            <h4><span>BTC/LTC自动化算法交易引擎</span></h4>
                            <span style="font-size: 80%"><a href="http://weibo.com/bocaicfa"  target="_blank">微博http://weibo.com/bocaicfa</a></span>
                            <span style="font-size: 80%"><a href="https://github.com/philsong/btcrobot"  target="_blank">代码库https://github.com/philsong/btcrobot</a></span>
                        </section>
                    </div>
                </span>
              </div>
            </div>
          </div>
      </div>
    </footer>
  </body>

  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/2.0.4/js/bootstrap.min.js"></script>
  {{template "js" .}}

</html>
