{
	"OKCoinAPIkey": "single",
	"huobi_access_key":"huobi api key",
	"huobi_secret_key":"huobi api key",
	"ok_partner": "",
	"ok_partner1": "",
	"ok_partner10": "",
	"ok_partner2": "",
	"ok_partner3": "",
	"ok_partner4": "",
	"ok_partner5": "",
	"ok_partner6": "",
	"ok_partner7": "",
	"ok_partner8": "",
	"ok_partner9": "",
	"ok_secret_key": "",
	"ok_secret_key1": "",
	"ok_secret_key10": "",
	"ok_secret_key2": "",
	"ok_secret_key3": "",
	"ok_secret_key4": "",
	"ok_secret_key5": "",
	"ok_secret_key6": "",
	"ok_secret_key7": "",
	"ok_secret_key8": "",
	"ok_secret_key9": "",
	"password": "123456",
	"smtp_username": "youremail@gmail.com",
	"smtp_password": "xxxx",
	"smtp_host": "smtp.gmail.com",
	"smtp_addr": "smtp.gmail.com:25"
	"username": "admin"
}