{
	"username": "admin",
	"password": "123456",	

	"ok_partner": "",
	"ok_secret_key": "",

	"huobi_access_key":"huobi api key",
	"huobi_secret_key":"huobi api key",
	
	"smtp_username": "youremail@gmail.com",
	"smtp_password": "xxxx",
	"smtp_host": "smtp.gmail.com",
	"smtp_addr": "smtp.gmail.com:25"
}