<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{template "title" .}} | 比特币自动化交易系统</title>
    <!-- Bootstrap -->

    <link href="/static/css/front.css" media="screen" rel="stylesheet" type="text/css">
    {{template "css"}}
    <meta name="keywords" content="比特币,比特币自动化交易系统。">
    <meta name="description" content="比特币,比特币自动化交易系统。">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/weiyan.ico">
  </head>
  <body itemscope="" itemtype="" style="display: block;">
    <meta itemprop="name" content="BTCROBOT - huobi trader robot">
    <meta itemprop="specialty" content="bitcoin exchange rates">

    <div class="navbar navbar-fixed-top"   position: fixed;>
      <div class="navbar-inner">
        <div class="container">
          <h3>
            <a href="/"><img alt="Text_logo" src="/static/img/images.jpg"></a>
          </h3>
          
          <ul class="nav pull-left" id="userbar">
            <li {{if .last}}class="active"{{end}}><a href="/" rel="nofollow">行情指标</a></li> 
            <li><a href="/engine" rel="nofollow">机器人</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/trade" rel="nofollow">操盘手</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/remind" rel="nofollow">预警提醒</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/secret" rel="nofollow">安全设置</a></li> 
            <li {{if .last}}class="active"{{end}}><a href="/licence" rel="nofollow">许可证</a></li> 
            <li class="active"><a href="https://github.com/philsong/btcrobot/wiki" target="_blank">WIKI帮助</a></li> 
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
     {{template "content" .}}
    </div>

    <a class="go_top" href="#" style="display: none;"><i class="icon icons_go_top"></i></a>

    <footer class="footer">
      <div class="container">
          <div class="col2">
            <div class="sidebar">
              <div id="topic_new_tip" class="box">
                <span class="body help-block">
                    <div class="f_left foot_left">
                        <section>
                            <h4><span>捐助BTC，支持开发</span></h4>
                            <img alt="Text_logo" src="/static/img/walletaddress.jpg">
                            <span style="font-size: 80%"><a href="bitcoin:1NDnnWCUu926z4wxA3sNBGYWNQD3mKyes8">1NDnnWCUu926z4wxA3sNBGYWNQD3mKyes8</a></span>
                            <hr>
                            <h4><span>BTC操盘手自动化交易引擎</span></h4>
                            <span style="font-size: 80%"><a href="http://weibo.com/bocaicfa"  target="_blank">http://weibo.com/bocaicfa</a></span>
                        </section>
                    </div>
                </span>
              </div>
            </div>
          </div>
      </div>
    </footer>
  </body>

  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/2.0.4/js/bootstrap.min.js"></script>
  {{template "js" .}}

</html>
