@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'helvetica_ce_35_thinregular';
    src: url('/font/helvetica_neue_ce_35_thin-webfont.eot');
    src: url('/font/helvetica_neue_ce_35_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/helvetica_neue_ce_35_thin-webfont.woff') format('woff'),
         url('/font/helvetica_neue_ce_35_thin-webfont.ttf') format('truetype'),
         url('/font/helvetica_neue_ce_35_thin-webfont.svg#helvetica_ce_35_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_ce_55_romanregular';
    src: url('/font/helvetica_neue_ce_55_roman-webfont.eot');
    src: url('/font/helvetica_neue_ce_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/helvetica_neue_ce_55_roman-webfont.woff') format('woff'),
         url('/font/helvetica_neue_ce_55_roman-webfont.ttf') format('truetype'),
         url('/font/helvetica_neue_ce_55_roman-webfont.svg#helvetica_ce_55_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_ce_55_romanbold';
    src: url('/font/helvetica_neue_ce_75_bold-webfont.eot');
    src: url('/font/helvetica_neue_ce_75_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/helvetica_neue_ce_75_bold-webfont.woff') format('woff'),
         url('/font/helvetica_neue_ce_75_bold-webfont.ttf') format('truetype'),
         url('/font/helvetica_neue_ce_75_bold-webfont.svg#helvetica_ce_55_romanbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('/font/myriadpro-regular.eot');
    src: url('/font/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('/font/myriadpro-regular.woff') format('woff'),
         url('/font/myriadpro-regular.ttf') format('truetype'),
         url('/font/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html{
	margin:0px;
	padding:0px;
}
body.popup{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
  width: 520px;
  max-height:500px;
}

h3 {
  color: #555;
}

.strip{
	background:url(/img/strip.png) no-repeat center top; height:10px;
}

.pad-top-4 {
  padding-top: 2em;
}

.wrapper-inner{ margin:0 auto; width:1010px;}

.wrapper-1{ background:#FFF; height:109px; }

.wrapper-1 .logo{ float:left; width:275px; height:57px; margin-top:25px; }
.wrapper-inner .nav{ float:right; width:475px; line-height:105px;}
.wrapper-inner .nav ul{ list-style:none; margin:0px 0px 0px 0px; padding:0px; } 
.wrapper-inner .nav ul li{ float:left; margin:0 15px;} 
.wrapper-inner .nav ul li a{ text-decoration:none; color:#333; font-size:25px; padding:5px 10px; line-height:26px;  }

.wrapper-inner .nav ul li:hover  {         
	background-image:url(/img/nav-hover.png);
	background-position:center 69px;
	background-repeat:no-repeat;
}
.wrapper-inner .nav ul li a:hover  {
	-moz-box-shadow:inset 0px 16px 0px 0px #FFD632;
	-webkit-box-shadow:inset 0px 16px 0px 0px #FFD632;
	box-shadow:inset 0px 16px 0px 0px #FFD632;
	background-color:#FFCC00;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.active  {         
	background-image:url(/img/nav-hover.png);
	background-position:center 69px;
	background-repeat:no-repeat;
}
.active a  {
	-moz-box-shadow:inset 0px 16px 0px 0px #FFD632;
	-webkit-box-shadow:inset 0px 16px 0px 0px #FFD632;
	box-shadow:inset 0px 16px 0px 0px #FFD632;
	background-color:#FFCC00;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}


.wrapper-2{ background:url(/img/bg-1.jpg) no-repeat center top #F4F4F4; height:525px; border-top:1px dotted #CCCCCC; border-bottom:1px dotted #CCC; }
.wrapper-2 .btn-learn{ background:url(/img/btn-learmore.png) no-repeat; width:166px; height:37px; display:block; margin:0 auto; font-size:0px;}
.wrapper-2 .btn-learn:hover{ background:url(/img/btn-learmore-h.png) no-repeat;}
.wrapper-2 .center { text-align:center; margin:16px 0px;}
.wrapper-2 .center h1 { font-family:"helvetica_ce_35_thinregular"; font-size:49px; font-weight:normal; margin:0px;   
	-webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
 } 
.wrapper-2 .center h1 span { color:#FFBF00; }
.wrapper-2 .center p { font-size:20px; font-family:helvetica_ce_55_romanbold; margin:13px 0px;}


.wrapper-3{ background:#FFF; height:452px; border-bottom:1px dotted #CCC; }
.wrapper-3 .content { padding:90px 0px; float:left; }
.wrapper-3 .content .left{ float:left; margin-right:80px; width:400px;}
.wrapper-3 .content .right{ float:left;}
.wrapper-3 .content .left ul{ list-style:none; padding:0px;  }
.wrapper-3 .content .left ul li{  padding:7px 16px; color:#CCC; font-weight:bold; }
.wrapper-3 .content .left .active { background:url("/img/bullite-1.png") no-repeat scroll left 10px transparent; color:#333;}


.wrapper-4{ background: url(/img/bg-2.jpg) no-repeat center top #F4F4F4; height:931px; border-bottom:1px dotted #CCC; }
.wrapper-4 .top-section {
    background: url("/img/subscription.png") no-repeat scroll 0 0 transparent;
    height: 409px;
    margin: 30px auto;
    width: 836px;
}

.wrapper-4 .top-section .col-1{ float:left; margin-top:82px;}
.wrapper-4 .top-section .col-1 ul{ list-style:none; margin:0px; padding-left:150px; padding-right:20px; line-height:60px; }
.wrapper-4 .top-section .col-1 ul li{ text-align:right; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-weight: normal; font-size:22px  }

.wrapper-4 .top-section .col-2{ float:left; margin-top:82px;}
.wrapper-4 .top-section .col-2 ul{ list-style:none; margin:0px; padding:0px; line-height:60px; width:164px; margin-right:15px; }
.wrapper-4 .top-section .col-2 ul li{ text-align:center; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-weight: normal; font-size:22px  }

.wrapper-4 .top-section .col-3{ float:left; margin-top:82px;}
.wrapper-4 .top-section .col-3 ul{ list-style:none; margin:0px; padding:0px; line-height:60px;  width:164px; margin-right:15px; }
.wrapper-4 .top-section .col-3 ul li{ text-align:center; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-weight: normal; font-size:22px  }

.wrapper-4 .top-section .col-4{ float:left; margin-top:72px;}
.wrapper-4 .top-section .col-4 ul{ list-style:none; margin:0px; padding:0px; line-height:60px;  width:180px;  }
.wrapper-4 .top-section .col-4 ul li{ text-align:center; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-weight: normal; font-size:22px  }
.wrapper-4 .top-section .btn1 { float:left; margin:10px 25px;}
.wrapper-4 .top-section .btn2 { float:left; margin:20px 30px;}

.wrapper-4 .top-section .heading-1 { font-family: 'helvetica_ce_35_thinregular'; font-size:46px; color:#F3F3F3; float:left; width:100%; line-height:1px; }
.wrapper-4 .top-section .heading-2 { font-family: 'helvetica_ce_55_romanbold'; font-size:60px; color:#F3F3F3; float:left; width:100%; font-weight:bold; line-height:1px; }
.wrapper-4 .top-section .heading-month { color:#F3F3F3; float:left; width:100%;}
.wrapper-4 .top-section .heading-month1 { color:#F3F3F3; float:left; width:100%; line-height:64px; margin-top:6px;}


.wrapper-4 .split{ margin:50px auto; width:600px; border-top:1px dotted #CCC; background:none;}
.wrapper-4 .bottom-section{ text-align:center; margin:20px auto; width:690px; }
.wrapper-4 .bottom-section .center{ margin-bottom:20px; }
.wrapper-4 .bottom-section p {font-size:15px;  margin:13px 0px;}
.wrapper-4 .bottom-section .payment { margin:0 auto; width:501px; }
.wrapper-4 .bottom-section .left{ float:left; width:250px; border-right:1px dotted #CCC;}
.wrapper-4 .bottom-section .right{ float:left; width:250px;}
.wrapper-4 .bottom-section .form { background:url(/img/bg-subscription.png) no-repeat; height:72px; width:690px; margin-top:30px; float:left; padding:30px 0 0 0;}
.wrapper-4 .bottom-section .form .txt-email{ background: url(/img/txt-email.png) no-repeat; width:290px; height:56px; border:none; padding:0 17px; }
.wrapper-4 .bottom-section .form .txt-code{ background: url(/img/txt-code.png) no-repeat; border:none; width:135px; height:56px; padding:0 17px; }
.wrapper-4 .bottom-section .form .btn-button{ background:  url(/img/btn-getitnow-1.png) no-repeat; border:none; width:144px; height:44px; padding:16px; }

.wrapper-5{ background:#FFF; height:auto; border-bottom:1px dotted #CCC; }
.wrapper-5 .center{ margin:20px auto; width:860px; text-align:center  }
.wrapper-5 .center h2 { font-family:helvetica_ce_35_thinregular; font-weight:normal; font-size:48px; color:#FFCC00; margin:20px 0px;  }
.wrapper-5 .center p {font-size:16px;  margin:13px 0px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; line-height:20px}
.wrapper-5 .split{ margin:-30px auto 0; width:600px; background:url(/img/strip-1.png) no-repeat center top; height:10px}
.wrapper-5 ul { padding-left:15px; margin:0px; }
.wrapper-5 ul li { font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:16px}


.wrapper-5 .row-1{ background: url(/img/bg-fund-1.png) no-repeat left top; width:100%; height:210px; padding:56px 39px; margin-top:-35px; }
.wrapper-5 .row-1 .ico{ float:left; width:258px; height:250px; }
.wrapper-5 .row-1 .content{ float:left; width:580px; margin-left:20px; text-align:left; }	

.wrapper-5 .row-2{ background: url(/img/bg-fund-1.png) no-repeat right top; width:100%; height:210px; padding:56px 39px; margin-top:-60px; }
.wrapper-5 .row-2 .ico{ float:right; width:258px; height:250px; }
.wrapper-5 .row-2 .content{ float:left; width:560px; margin:0 20px; text-align:left;}	
	
	
.wrapper-6{ background: url(/img/bg-3.jpg) no-repeat center top #EEEEEE; height:auto; border-bottom:1px dotted #CCC; }
.wrapper-6 .center{ margin:20px auto; width:860px; text-align:center  }
.wrapper-6 .center ul{ list-style-image: url(/img/bullite-2.png); margin-bottom:20px; }
.wrapper-6 .center ul li{ text-align:left; margin-bottom:11px; line-height:22px; font-family:"Myriad Pro", Tahoma, Verdana }

.wrapper-7 { background:#FFF; height:655px; border-bottom:1px dotted #CCC; }
.wrapper-7 .center{ margin:50px auto; width:850px; text-align:center  }
.wrapper-7 .center p {font-size:16px;  margin:0px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; line-height:20px; text-align:left;}
.wrapper-7 .center span {font-size:16px;  margin:0px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; line-height:20px; color:#DFB200; text-align:left;}
.wrapper-7 .center .row-1{ float:left;width:850px; }
.wrapper-7 .center .row-1 .pic{ float:left; width:auto; height:156px; margin-right:10px; }
.wrapper-7 .center .row-1 .testimonial{ float:left; background:url(/img/bg-testimonial-1.png) no-repeat left top; width:432px; height:68px; margin:30px 0; padding:12px 18px 12px 24px; text-align:left; }

.wrapper-7 .center .row-2{ float:left; width:625px; margin-left:250px;margin-top:-40px}
.wrapper-7 .center .row-2 .pic{ float:right; width:auto; height:156px;}
.wrapper-7 .center .row-2 .testimonial{ float:left; background:url(/img/bg-testimonial-2.png) no-repeat right top; width:445px; height:68px; margin:30px 0;padding:12px 15px 12px 9px; text-align:left; }

.wrapper-7 .center .row-3{ float:left; width:850px; margin-top:-40px}
.wrapper-7 .center .row-3 .pic{ float:left; width:auto; height:156px; margin-right:10px; }
.wrapper-7 .center .row-3 .testimonial{ float:left; background:url(/img/bg-testimonial-3.png) no-repeat left top; width:432px; height:88px; margin:30px 0;padding:12px 18px; text-align:left; }

.wrapper-7 .center .row-4{ float:left; width:625px; margin-left:250px; margin-top:-40px}
.wrapper-7 .center .row-4 .pic{ float:right; width:auto; height:156px; }
.wrapper-7 .center .row-4 .testimonial{ float:left; background:url(/img/bg-testimonial-4.png) no-repeat right top; width:445px; height:88px; margin:30px 0;padding:12px 15px 12px 9px; text-align:left; }




.wrapper-footer{ background: url(/img/bg-footer.jpg) repeat-x center top ; height:135px; border-top:1px dotted #CCC; padding:40px 0px;}
.wrapper-footer .left{ float:left; width:350px; margin-right:20px }
.wrapper-footer .left p{ color:#CCC; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; margin:30px 0px; }
.wrapper-footer .right{ float:left; width:610px; }

.wrapper-footer .right .contact-us{ float:left;}
.wrapper-footer .right .social-icon{ float:right;}
.wrapper-footer .right .social-icon ul{ list-style:none; margin:0px; padding:0px; }
.wrapper-footer .right .social-icon ul li{ float:left; margin:0 5px; } 

.wrapper-footer .right .contact-us ul { list-style:none; margin-top:25px; padding:0px; color:#CCC; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; }
.wrapper-footer .right .contact-us ul li { float:left; margin:0 10px; }
.wrapper-footer .right .contact-us .ico-phone { background:url(/img/ico-phone.png) no-repeat 0 4px; padding-left:22px; }
.wrapper-footer .right .contact-us .ico-skype { background:url(/img/ico-skype.png) no-repeat 0 4px; padding-left:22px; }
.wrapper-footer .right .contact-us .ico-mail { background:url(/img/ico-email.png) no-repeat 0 6px; padding-left:22px;}
.wrapper-footer .right .contact-us .ico-mail a { text-decoration:none; color:#CCC;}
.wrapper-footer .right .contact-us .ico-mail a:hover { text-decoration:underline; color:#CCC;}
.wrapper-footer .right .copy-right { float:left; font-size:13px; color:#666; margin-top:20px; margin-left:12px;}

.wrapper-footer-inner{ background: none ; height:20px; border-top:1px dotted #CCC; padding:20px 0px;}
.wrapper-footer-inner .copy-right{ color:#CCC; font-size:14px; }



.wrapper-content{ background:#FFF; border-bottom:1px dotted #CCC; border-top:1px dotted #CCCCCC }
.wrapper-content  .content { padding:25px 0px; float:left; }
.wrapper-content .content .left { float:left; width:550px;}
.wrapper-content .content .pull-right { float:left; width:459px; margin-top:60px;}
.wrapper-content .content .pull-right .description{ margin:10px;}
.wrapper-content .content .pull-right .description p{ color:#666; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; }
.wrapper-content .content .pull-right .description .green { color:#090; text-decoration:none; };
.wrapper-content .content .pull-right .description .ora { color:#FFCC00 };
	
.settings .list-wrap { background: #fff; padding: 0px; margin: -3px 0 15px 0; min-height:170px; width:550px; }
.settings ul { list-style: none; }
.settings ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
.settings ul li a:hover { color: #FFCC00; }
.settings ul li:last-child a { border: none; }

.settings .nav { overflow: hidden; float:none; width:550px; line-height:normal; padding:0px; margin-bottom:0px;}
.settings .nav li { width: 80px; float: left; margin: 0 1px 0 0; border:none; }
.settings .nav li.last { margin-right: 0; border-right:0px; }
.settings .nav li a { display: block; padding: 5px 5px 30px;  color:#666; font-size: 10px; text-align: center; border: 0; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:16px; text-decoration:none;  }
.settings .nav li span { float:left; margin-top:-49px; color:#999;}

.settings li a.current,#tab li a.current:hover { color:#FFCC00; background:url(/img/img.png) no-repeat center bottom;  }
.settings .nav li a:hover, #tab .nav li a:focus { color: #FFCC00;}

.settings label{ float:left; width:131px; text-align:right; margin-right:10px; margin-top:12px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px;}
.settings label.wide {width: initial; }
.settings .row { float:left; width:100%; margin:5px 0px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px;}
.settings .input-1 { box-sizing: content-box; float:left; background:url(/img/input-1.png) no-repeat; width:317px; height:21px; border:none; padding:10px;  font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555;}
.settings .input-2 { box-sizing: content-box; float:left; background:url(/img/input-2.png) no-repeat; width:82px; height:21px; border:none; padding:10px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555;}
.settings .input-3 { box-sizing: content-box; float:left; background:url(/img/input-4.png) no-repeat; width:60px; height:21px; border:none; padding:10px 30px 10px 10px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555;}
.settings .input-4 { box-sizing: content-box; float:left; background:url(/img/input-6.png) no-repeat; width:317px; height:54px; border:none; padding:10px;  font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555;}
.settings .input-5 { box-sizing: content-box; float:left; width:60px; height:21px; border:none; padding:10px 30px 10px 10px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555;}
.settings .input-usd { background:url(/img/input-usd.png) no-repeat; }
.settings .input-eur { background:url(/img/input-eur.png) no-repeat; }
.settings .input-gbp { background:url(/img/input-gbp.png) no-repeat; }
.settings .input-btc { background:url(/img/input-btc.png) no-repeat; }
.settings .after-label {margin: 12px 0 0 7px; display: inline-block;}

.settings .select-1 { float:left; background:url(/img/input-3.png) no-repeat; width:336px; height:41px; border:none; padding:10px; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:15px; color:#555}
.settings .p{ font-family:"helvetica_ce_55_romanregular"; font-size:13px; margin:0px;}
.settings .renew{ font-family:"helvetica_ce_55_romanregular"; font-size:13px; margin:0px;  color:#FFCC00;}
.settings .font{ color:#090; text-decoration:none; }

.settings .row .ul{ float:left; margin:10px 0px; padding:0px; list-style:none;}

.settings .btn-rest:hover, .btn-close:hover {
  background: -moz-linear-gradient(
 		top,
 		#F9D131 0%,
 		#E6C12D);
 	background: -webkit-gradient(
 		linear, left top, left bottom,
 		from(#F9D131),
 		to(#E6C12D));
}
.settings .btn-rest:active, .btn-close:active {
  background: -moz-linear-gradient(
 		top,
 		#E6C12D 0%,
 		#DAB72A);
 	background: -webkit-gradient(
 		linear, left top, left bottom,
 		from(#E6C12D),
 		to(#DAB72A));
}
.settings .btn-rest, .btn-close {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding: 8px 20px;
	background: -moz-linear-gradient(
		top,
		#ffd632 0%,
		#E6C12D);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffd632),
		to(#E6C12D));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.settings .btn-apply-1:hover, .btn-test:hover, .btn-apply:hover {
     background: -moz-linear-gradient(
    		top,
    		#35D600 0%,
    		#2DB200);
    	background: -webkit-gradient(
    		linear, left top, left bottom,
    		from(#35D600),
    		to(#2DB200));
}
.settings .btn-apply-1:active, .btn-test:active, .btn-apply:active {
  background: -moz-linear-gradient(
 		top,
 		#2FBE00 0%,
 		#2AAA00);
 	background: -webkit-gradient(
 		linear, left top, left bottom,
 		from(#2FBE00),
 		to(#2AAA00));
}
.settings .btn-apply-1, .btn-test, .btn-apply {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: white;
	padding: 8px 20px;
	background: -moz-linear-gradient(
		top,
		#37E100 0%,
		#2DB200);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#37E100),
		to(#2DB200));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


#renew,#success { width: 100%; }
#renew label {
  margin-top: 0;
}
#renew .row, #success .row {
  width: 630px;
  margin: auto;
  float: none;
}

#backtesting_progress {
  padding-top: 1em;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.saved_status {
  display: none;
  color: darkorange;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0.5em;
}

.border {

	border: 1px solid #DFDFDF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*-webkit-box-shadow: #666 0px 2px 3px;*/
	-moz-box-shadow: #666 0px 2px 3px;
	/*box-shadow: #666 0px 2px 3px;*/
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#EDEDED));
	background: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background: -ms-linear-gradient(#FFFFFF, #EDEDED);
	background: -o-linear-gradient(#FFFFFF, #EDEDED);
	background: linear-gradient(#FFFFFF, #EDEDED);
	-pie-background: linear-gradient(#FFFFFF, #EDEDED);
	behavior: url(pie/PIE.htc);
	padding:15px;
	float:left;
	 
}
.border1 {

	border: 1px solid #DFDFDF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	-webkit-box-shadow: #666 0px 2px 3px;*/
	-moz-box-shadow: #666 0px 2px 3px;
	/*box-shadow: #666 0px 2px 3px;*/
	background: #FFFFFF;
	behavior: url(pie/PIE.htc);
	padding:15px;
	float:left;
	 
}

.balance{
  width: 466px;
  float: left;
  margin: 5px;
  text-align: center;
}

.loading {
  width: 466px;
  float: left;
}

.list {

	border: 1px solid #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*-webkit-box-shadow: #666 0px 2px 3px;*/
	-moz-box-shadow: #666 0px 2px 3px;
	/*box-shadow: #666 0px 2px 3px;*/
	background: #FFFFFF;
	behavior: url(pie/PIE.htc);
	padding:0;
	float:left;
	width:100%!important;
	margin-top:10px;
	 
}


#popup_box { 
	width:495px;
  overflow: auto;

	padding:10px;
	font-size:15px;  

}

.alert {
  float: none;
  background-color: #EDEDED;
  padding: 0.5em;
  margin-bottom: 0.3em;
  color: #444;
}

.alert-notice {
 	background-color: #BCDBAF;
}

.alert-error {
 	background-color: #FFE17E;
}
 
.row-popup{ float:left;  }


.row-popup .col2{
	float:left; width:auto; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; 
	background: #FFFFFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#EDEDED));
	background: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background: -ms-linear-gradient(#FFFFFF, #EDEDED);
	background: -o-linear-gradient(#FFFFFF, #EDEDED);
	background: linear-gradient(#FFFFFF, #EDEDED);
	-pie-background: linear-gradient(#FFFFFF, #EDEDED);
	behavior: url(pie/PIE.htc);
	border-right:1px solid #ccc;
	padding:1px 0px;

}

.row-popup .col3-heading{ width:79px; text-align:center; border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; padding:5px 0px; }
.row-popup .col4-heading{ width:122px; text-align:center; border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; padding:5px 0px;  }
.row-popup .col5-heading{ width:103px; text-align:center; border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; padding:5px 0px; }
.row-popup .col6-heading{ width:103px; text-align:center; border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; padding:5px 0px; }
.row-popup .col7-heading{ width:85px; text-align:center; border-bottom:1px solid #CCCCCC; font-size:14px; font-weight:bold; border-right:0px; padding:5px 0px; }

.row-popup .col3{ width:79px; text-align:center; border-bottom:1px solid #CCCCCC; }
.row-popup .col4{ width:122px; text-align:center; border-bottom:1px solid #CCCCCC; }
.row-popup .col5{ width:103px; text-align:center; border-bottom:1px solid #CCCCCC; }
.row-popup .col6{ width:103px; text-align:center; border-bottom:1px solid #CCCCCC; }
.row-popup .col7{ width:85px; text-align:center; border-bottom:1px solid #CCCCCC; border-right:0px; }
.row-popup .red { background:#F33131; }
.row-popup .light-red { background:#FF7B7B; }
.row-popup .light-green { background:#92F392; }
.row-popup .green { background:#31F331; }


.row-popup .left{ float:left; }
.row-popup .right{ float:right; }


.row-popup ul{ list-style:none; }
.row-popup ul li{ float:left; margin:5px }
.ico-close{ font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; cursor:pointer; color:#F00!important; padding:0px!important;}
#tab-2

#tab-2 .list-wrap { background: #fff; padding: 0px; margin: -3px 0 0px 0; min-height:170px; width:495px; }
#tab-2 ul { list-style: none; }
#tab-2 ul li a { display: block; border-bottom: 0px solid #666; padding: 4px; color: #666; }
#status_ok img, #status_warning img { display: block; padding: 4px; }
#tab-2 ul li a:hover { color: #FFCC00; }
#tab-2 ul li:last-child a { }

#tab-2 .nav { overflow: hidden; float:none; width:auto; line-height:normal; padding:0px; margin-bottom:0px;}
#tab-2 .nav li { width: 65px; float: left; margin: 0 1px 0 0; border:none; }
#tab-2 .nav li.last { margin-right: 0; border-right:0px; }
#tab-2 .nav li a { display: block; padding: 5px 5px 10px;  color:#666; font-size: 10px; text-align: center; border: 0; font-family:"Myriad Pro",Arial ,Tahoma, Verdana; font-size:16px; text-decoration:none;  }
#tab-2 .nav li span { float:left; margin-top:-49px; color:#999;}

.popup #tab-2 li a.current, .popup #tab li a.current:hover { color:#FFCC00; background:none; margin-bottom:5px; border-bottom:2px solid; }
#tab-2 .nav li a:hover, #tab .nav li a:focus { color: #FFCC00;}



.center {
  text-align: center;
}


.clearfix:after
{
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix
{
  display: inline-block;
}

* html .clearfix
{
  height: 1%;
}

.clearfix
{
  display: block;
}


#backtesting-container {
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: gray;
  z-index: 10;
}
#backtesting {
	position:absolute;
  overflow: scroll;
	height:600px;
	width:550px;
	top: 140px;
	z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
	margin-left: 270px;

	/* additional features, can be omitted */
	border:2px solid #EEEEEE;
	padding:15px;
	font-size:15px;
	-moz-box-shadow: 0 0 25px #666666;
	-webkit-box-shadow: 0 0 25px #666666;
	box-shadow: 0 0 25px #666666;

}

#backtesting #statistics span {
  padding-right: 20px;
}
#backtesting #statistics span strong {
  padding-right: 5px;
}

#test {
  float: left;
  padding: 10px 20px;
}

.graph-img p {
  width: 465px;
  height: 198px;
  text-align: center;
}

.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;padding:5px;font-size:11px;opacity:0;filter:alpha(opacity=0);}
.tooltip.in{opacity:0.8;filter:alpha(opacity=80);}
.tooltip.top{margin-top:-3px;}
.tooltip.right{margin-left:3px;}
.tooltip.bottom{margin-top:3px;}
.tooltip.left{margin-left:-3px;}
.tooltip-inner{width:200px;padding:3px 8px;color:#ffffff;text-align:center;text-decoration:none;background-color:#000000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000000;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000000;}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000000;}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000000;}
