/** Media Styling **/

@media (max-width: 480px){
    .foot_left,  .foot_right{
        display: none;
    }
    .privacy{
        padding: 20px 0 30px;
    }

}
@media (max-width: 400px){
    #main-container{
        padding-top: 70px;
    }
	
}
@media (max-width: 650px){
    .ignore_btn{
        width:100%!important;
        position:relative!important;
        padding:0px!important;
        margin:0; top:-60px!important;
        right:0px!important;
    }
}
@media (max-width: 480px){
	#currency-arrowcontainer {
		padding-left:0;
	}
}
@media (min-width: 481px){	
	#currency-arrowcontainer {
		padding-left:70px;
	}
}
@media (max-width: 768px){
}
@media (min-width: 768px){
}
@media (max-width: 991px){

    #currency-navtabs > li.active, li.active:hover{
        border-color: #fff !important;
        border-bottom-color: #ddd !important;
    }
    #currency-sidebar, #currency-sidebar>ul{
        display: block !important;
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        margin: auto !important;
        height: auto !important;
        border-radius: 0;
        z-index: -1 !important;
    }
    #currency-sidebar>ul{
        display: block !important;
        min-width: auto;
        float: none;
        text-align: center;
    }
    #currency-sidebar>ul li{
        display: inline-block;
    }
    .footer {
        height: 89px !important;
    }
    #main-container{
        margin: 0 auto 0 !important;
    }
}
@media (min-width: 1200px){
    .dropdown-menu2 {
        top:95px !important;
    }
}

/** Main CSS **/

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
    overflow-y: scroll;
    display: none;
}

html, body {
  height: 100%;
}

a{
    outline: none;
}

h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}
ul{
    list-style: none;
}
.f_left{float: left;}
.f_right{float: right;}


.bid_ask{font-weight: bold; color: #999;}
.last{font-size: 27px; color: #428BCA; margin-bottom: 10px; margin-top: 0px !important; padding-top: 0px !important; }
.curcode{font-size: 22px; font-weight: bold; color: #4F4F4F; margin-bottom: 10px; margin-top: 0px; padding-top: 0px !important; }
.last-main{font-size: 2.3em; font-weight: bold; color: #428BCA; width: 250px;}
.curcode-main{font-size: 2.3em; font-weight: bold; color: #4F4F4F; width: 250px;}
.arrows{font-size: 2em; }
.legend-heading{font-size: 2.3em; font-weight: bold; color: #4F4F4F;}


.slot-global-bid_ask{font-size: 1.5em; font-weight: bold; }
.slot-global-bid_ask-titles, .other_values{ color: #999; }

.submenu {color: #428BCA !important; }
.navbar-nav > li > a:hover {text-decoration: underline !important; }

.logo {color: #428BCA !important; }
.slogan {font-size: small; margin: auto !important; margin-left: -15px !important; line-height: auto !important; font-weight: bold !important;}

.legend ul{
    list-style: none outside;
    margin: 0;
}
.legend-ignored{
    margin-top: 5px;
}

.menu_title{
    font-size: 20px;
    padding: 2px 0 0;
}


/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #eeeeee;
}

/**NavBar**/
#header{
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    border: 1px solid #D5D5D5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#header .tooltip{
    margin-right:20px;
}
#header .container{
    max-width:90%;
}

.navbar .container > #question-mark {
    margin-right: 20px;
    margin-top: 10px;
    width: 8px;
}
.nav-tabs > li{
    float: none;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.nav-tabs > li:hover{
    background: #eee;
}

/** Main Container **/
#main-container{
    min-height:100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -89px;
    padding-bottom: 89px;
}
#currency-navtabs h2 {
    font-size: 1.4em;
}

#currency-navtabs > li.active{
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#currency-navtabs > li.active:hover{
    background: none;
}

.tab_content{
    width: 100%;
    margin: 0 auto;
}
/*Currency Arrows*/
#usd-arrowup, #usd-arrowdown{
    font-size:0.8em;
    position:absolute;
    display:none;
    top:10%;
}
#usd-arrowup{
    color:darkgreen;
}
#usd-arrowdown{
    color:darkred;
}
#currency-arrowcontainer{
    position:relative;
    left:-20px;
    display:inline;
}
#global-avg-arrowup, #global-avg-arrowdown{
    display: none;
}

.strip .btn{
    position: absolute;
    right: 10px;
    top: 39px;
}
.strip .btn:focus{outline:none;}

/**Footer**/
.footer{
    clear: both;
    padding: 0;
    position: relative;
    z-index: 1;
    background: #f7f7f7;
    border-top: 1px solid #dadada;
    height:89px;
}
footer .row{
    position: relative;
}
.privacy{
    width: 100%;
    top: 0;
    bottom: 0;
    padding-top: 35px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    z-index: -1;
}

.footer-credits {
    padding: 10px;
    font-size: 70%;
    clear: both;
    position: relative;
    text-transform: uppercase;
    background: #f7f7f7;
}

.footer-credits ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: relative;
    left: -10px;
}
.footer-credits * {
    color: rgb(51, 51, 51);
    /*color: rgba(255, 255, 255, 0.70);*/
}

.footer .row-fluid {
    margin: 20px 0;
}

.footer section {
    padding: 15px 0;
}

.footer h4 {
    margin: 0 0 16px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 90%;
}

.footer h4 span {
    border-bottom: 3px solid #DADADA /*3399F3*/;
}

#section-connect a:hover{
    text-decoration: none;
}

.icon-circle {
    color: inherit;
}

/**Generic Classes**/
.strip {
    margin: 1.5% 0;
    position: relative;
    z-index: 3;
    padding: .75% 0;
    background: #f7f7f7;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

/** Sidebar Currency Bar **/
#currency-sidebar{
    left:0;
    top:50%;
    height: 352px;
    margin-top: -176px;
    position:absolute;
    z-index:5;
    border-radius:0 4px 4px 0;
    min-width:50px;
    display:block;
}

/**Footer Currency Bar**/
#currency-sidebar-sm{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.176);
    display: table-cell;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 1% 0;
}
#currency-sidebar-sm li{
    display:inline;
    margin-right:3%;
}

/** Sidebar **/

/* large */
.dropdown-menu{
    top: 0;
    min-width: 53px;
    box-shadow: none;
    display: block;
}
.dropdown-menu>li>a{
    outline: none;
    display: block;
    position: relative;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    line-height: 24px;
}
.dropdown-menu>li>a:after{
    display: none;
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    content: "";
}
.dropdown-menu>li:hover>a:after{
    display: block;
}
.dropdown-menu .link1{
    font-size: 14px;
    color: #2a6496;
    text-transform: lowercase;
    display: inline;
    outline: none;
    background: none !important;
}
.dropdown-menu .link1:hover{
    color: #000;
}
.dropdown-menu .link1:after{
    display: none !important;
}

/* new */
.dropdown-menu1{
    position: absolute;
    top: 0px;
    border: 1px solid #d9d9d9;
    border-radius: 0 5px 5px 0;
    padding: 8px 0 0;
    background-color: #fff;
}
.dropdown-menu1>li>a{
    color: #000;
    display: block;
    padding: 3px 20px;
}
.dropdown-menu1>li:hover, .dropdown-menu2>li:focus{
    background-color: #428bca;
}
.dropdown-menu1>li>a:hover, .dropdown-menu2>li>a:focus{
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
}
.dropdown-menu1>.active>a, .dropdown-menu2>.active>a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

/* small */
.dropdown-menu2{
    position: absolute;
    top: 150px;
    left: 83px;
    border: 1px solid #d9d9d9;
    border-radius: 0 5px 5px 0;
    padding: 8px 0 0;
    background-color: #fff;
}
.dropdown-menu2>li>a{
    color: #000;
    display: block;
    padding: 3px 20px;
}
.dropdown-menu2>li:hover, .dropdown-menu2>li:focus{
    background-color: #428bca;
}
.dropdown-menu2>li>a:hover, .dropdown-menu2>li>a:focus{
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
}
.dropdown-menu2>.active>a, .dropdown-menu2>.active>a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}


/* new css */
.left_section_head span {
 font-size: 15px;
 margin: 0px;
 padding: 0px;
  position: relative;
    top: -10px;
}
.left_section_head span strong {
 display: block;
 font-size: 15px;
}
.left_section_head span strong small {
 color: #999999;
 font-size: 15px;
}
.ignore_btn{width:130px; float:left; white-space:normal; line-height:20px; }

#small-chart{height:200px;}
.action-link{border-bottom: dashed 1px;} .action-link:hover{text-decoration: none;}