

{{define "content"}}
<div class="main">
  <div class="col1">
    <div id="topic_show" class="topics box hfeed">
      <div class="topic hentry">
        <div class="box">    
            <div id="container" width=500 class="nav nav-tabs"></div>    
                <button onclick="myStopFunction()">暂停</button>
                <button onclick="myStartFunction()">重启</button> 
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}


{{define "title"}}BitCoin Robot{{end}}
{{define "css"}}
 <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
    <script src="/static/js/technical-indicators.src.js"></script>
    <script src="/static/js/btcdata.js"></script>
{{end}}