{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/licence.json" class="simple_form form-horizontal edit_user" enctype="multipart/form-data" id="edit_user" method="post" novalidate="novalidate">
         
        <fieldset>
          <legend>licence设置</legend>
          <div class="control-group email required"><label class="email required control-label" for="user_email"><abbr title="required">*</abbr> Email</label><div class="controls"><input class="string email required span2" id="user_email" name="user_email" size="50" type="email" value="{{.config.user_email}}"></div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="licence"><abbr title="required">*</abbr> Licence Key</label><div class="controls"><input class=" string optional span4" id="licence" name="licence" size="50" type="text" value="{{.config.licence}}"></div></div>


          <div class="form-actions">
              <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="更新"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}{{.user.Username}} Licence设置 {{end}}
{{define "js"}}
<script type="text/javascript">
$(function(){
    // 表单提交
    $('#edit_user').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
            if (data.errno) {
                //$('#alert_info').html(data.error).show()
                alert(data.error);
            } else {
                alert(data.msg);
                location.reload();
            }
        });
        return false;
    });
})
</script>
{{end}}