{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/remind.json" class="simple_form form-horizontal edit_user" enctype="multipart/form-data" id="edit_user" method="post" novalidate="novalidate">
        
        <fieldset>
          <legend>预警设置</legend>
          <div class="control-group">
            <div class="controls">
              <label for="disable_email" class="checkbox"><input id="disable_email" name="disable_email" type="checkbox"> 关闭邮件通知</label>
            </div>
          </div>

          <div class="control-group email required"><label class="email required control-label" for="to_email"><abbr title="required">*</abbr> 接收Email</label><div class="controls"><input class="string email required span2" id="to_email" name="to_email" size="50" type="email" value="{{.config.to_email}}"></div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="lowest_price"><abbr title="required">*</abbr> 最低价</label><div class="controls"><input class=" string optional span1" id="lowest_price" name="lowest_price" size="50" type="text" value="{{.config.lowest_price}}"></div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="highest_price"><abbr title="required">*</abbr> 最高价</label><div class="controls"><input class="string optional span1" id="highest_price" name="highest_price" size="50" type="text" value="{{.config.highest_price}}"></div></div>

          <div class="form-actions">
              <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="提交"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}预警设置 {{end}}
{{define "css"}}<link href="/static/css/users.css" media="screen" rel="stylesheet" type="text/css">{{end}}
{{define "js"}}
<script type="text/javascript">
$(function(){
    $.getJSON('/remindajax.json', function(data){
        console.log(data)
        console.log(data.disable_email)
        if (data.disable_email == "0" ) {
          $('#disable_email').prop('checked', false);
        }else{
          $('#disable_email').prop('checked', true);
        }
    });
    // 表单提交
    $('#edit_user').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
          alert(data.msg);
          location.reload();
        });
        return false;
    });
})
</script>
{{end}}