{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/secret.json" class="simple_form form-horizontal edit_user" enctype="multipart/form-data" id="edit_user" method="post" novalidate="novalidate">
        
        <fieldset>
          <legend>安全设置</legend>
          <div class="control-group string optional"><label class="string optional control-label" for="access_key"><abbr title="required">*</abbr>火币访问密匙access_key</label><div class="controls"><input class=" string optional span3" id="access_key" name="access_key" size="50" type="password" value="{{.config.access_key}}"></div></div>
         
          <div class="control-group string optional"><label class="string optional control-label" for="secret_key"><abbr title="required">*</abbr>火币暗钥secret_key</label><div class="controls"><input class="string optional span3" id="secret_key" name="secret_key" size="50" type="password" value="{{.config.secret_key}}"></div></div>
 
          <hr>
          
          <div class="control-group string optional"><label class="string optional control-label" for="email"><abbr title="required">*</abbr>火币邮箱地址（选填）</label><div class="controls"><input class=" string optional span2" id="email" name="email" size="50" type="text" value="{{.config.email}}"></div></div>
         
          <div class="control-group string optional"><label class="string optional control-label" for="password"><abbr title="required">*</abbr>火币密码（选填）</label><div class="controls"><input class="string optional span2" id="password" name="password" size="50" type="password" value="{{.config.password}}"></div></div>
 
          <hr>    
          <div class="control-group string optional"><label class="string optional control-label" for="smtp_username"><abbr title="required">*</abbr> smtp_username</label><div class="controls"><input class="string optional span2" id="smtp_username" name="smtp_username" size="50" type="text" value="{{.config.smtp_username}}"></div></div>
          
          <div class="control-group string optional"><label class="string optional control-label" for="smtp_password"><abbr title="required">*</abbr> smtp_password</label><div class="controls"><input class="string optional span2" id="smtp_password" name="smtp_password" size="50" type="password" value="{{.config.smtp_password}}"></div></div>
          
          <div class="control-group string optional"><label class="string optional control-label" for="smtp_host"><abbr title="required">*</abbr> smtp_host</label><div class="controls"><input class="string optional span2" id="smtp_host" name="smtp_host" size="50" type="text" value="{{.config.smtp_host}}"></div></div>
          
          <div class="control-group string optional"><label class="string optional control-label" for="smtp_addr"><abbr title="required">*</abbr> smtp_addr</label><div class="controls"><input class="string optional span2" id="smtp_addr" name="smtp_addr" size="50" type="text" value="{{.config.smtp_addr}}"></div></div>

          <div class="form-actions">
              <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="提交"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}安全设置 {{end}}
{{define "js"}}
<script type="text/javascript">
$(function(){
    // 表单提交
    $('#edit_user').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
          alert(data.msg);
          location.reload();
        });
        return false;
    });
})
</script>
{{end}}