{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/engine.json" class="simple_form form-horizontal edit_user" enctype="multipart/form-data" id="edit_user" method="post" novalidate="novalidate">
        
        <fieldset>
          <legend>引擎设置</legend>
          
          <div class="control-group">
            <div class="controls">
              <label class="string optional control-label" for="disable_trading" class="checkbox"><input id="disable_trading" name="disable_trading" type="checkbox"> 关闭自动交易引擎</label>
            </div>
            <div class="controls">
              <label class="string optional control-label" for="disable_email" class="checkbox"><input id="disable_email" name="disable_email" type="checkbox"> 关闭邮件通知</label>
            </div>

          </div>

          <div class="control-group email required"><label class="email required control-label" for="to_email"><abbr title="required">*</abbr>接收Email</label><div class="controls"><input class="string email required span2" id="to_email" name="to_email" size="50" type="email" value="{{.config.to_email}}"></div></div>

          <div class="control-group" style="display: none" >
            <div class="controls">
              <label class="string optional control-label" for="disable_backtesting" class="checkbox"><input id="disable_backtesting" name="disable_backtesting" type="checkbox"> 关闭后向测试backtesting</label>
            </div>
          </div>

          <div class="control-group string optional">
            <label class="string optional control-label" for="tradecenter"><abbr title="required">*</abbr>交易中心</label>
            <div class="controls">
                <select name="tradecenter" id="tradecenter" class="select-1" >
                    <option value="huobi">huobi</option>
                    <option value="okcoin">okcoin</option>
                </select>(改这个要重启控制台)
            </div>
          </div>

          <div class="control-group string optional">
            <label class="string optional control-label" for="symbol"><abbr title="required">*</abbr>交易币种</label>
            <div class="controls">
                <select name="symbol" id="symbol" class="select-1" >
                    <option value="btc_cny">btc_cny</option>
                    <option value="ltc_cny">ltc_cny</option>
                </select>
            </div>
          </div>
          
          <div class="control-group string optional">
            <label class="string optional control-label" for="strategy"><abbr title="required">*</abbr>交易策略</label>
            <div class="controls">
                <select name="strategy" id="strategy" class="select-1" onChange="ShowHidden();">
                    <option value="EMA">EMA</option>
                    <option value="MACD">MACD</option>
                    <option value="EMAMACDEMA">EMA+多次MACD+EMA</option>
                    <option value="EMAMACD">EMA+单次MACD</option>
                    <option value="KDJ">KDJ</option>
                    <option value="RSI">RSI(TODO!)</option>
                    <option value="xxx">xxx(自定义策略)</option>
                </select>
            </div>
          </div>

          
          <div class="control-group string optional">
            <label class="string optional control-label" for="tick_interval"><abbr title="required">*</abbr>K线周期</label>
            <div class="controls">
                <select name="tick_interval" id="tick_interval" class="select-1" >
                    <option value="100">1 天</option>
                    <option value="60">1 小时</option>
                    <option value="30">30 分钟</option>
                    <option value="15">15 分钟</option>
                    <option value="5">5 分钟</option>
                    <option value="1">1 分钟</option>
                </select>(改这个要重启控制台)
            </div>
            
          </div>

          <div class="control-group string optional"><label class="string optional control-label" for="tradeAmount"><abbr title="required">*</abbr>交易数量</label><div class="controls"><input class="string optional span1" id="tradeAmount" name="tradeAmount" size="50" type="text" value="{{.config.tradeAmount}}">BTC/LTC（BTC最小0.01，LTC最小0.1）</div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="slippage"><abbr title="required">*</abbr>交易滑动量</label><div class="controls"><input class="string optional span1" id="slippage" name="slippage" size="50" type="text" value="{{.config.slippage}}">‰  买入价=市价*(1+交易滑动量*0.001)，卖出价=市价*(1-交易滑动量*0.001)</div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="stoploss"><abbr title="required">*</abbr>交易止损量</label><div class="controls"><input class="string optional span1" id="stoploss" name="stoploss" size="50" type="text" value="{{.config.stoploss}}">%  当市价低于EMA/MACD买入价*(1-交易停损量*0.01)时，平仓止损防暴跌</div></div>
          
          <div id="kdj">
            <div class="control-group string optional"><label class="string optional control-label" for="k"><abbr title="required">*</abbr>K</label><div class="controls"><input class=" string optional span1" id="k" name="k" size="50" type="text" value="9" disabled="disabled"></div> </div>
         
          
            <div class="control-group string optional"><label class="string optional control-label" for="d"><abbr title="required">*</abbr>D</label><div class="controls"><input class="string optional span1" id="d" name="ç" size="50" type="text" value="3" disabled="disabled"></div></div>

            <div class="control-group string optional"><label class="string optional control-label" for="j"><abbr title="required">*</abbr>J</label><div class="controls"><input class="string optional span1" id="j" name="j" size="50" type="text" value="3" disabled="disabled"> </div></div>
          </div>


          <div id="ema">
            <div class="control-group string optional"><label class="string optional control-label" for="shortEMA"><abbr title="required">*</abbr>短期EMA</label><div class="controls"><input class=" string optional span1" id="shortEMA" name="shortEMA" size="50" type="text" value="{{.config.shortEMA}}">(短期指数移动平均线,单位为K线周期)</div> </div>
         
          
            <div class="control-group string optional"><label class="string optional control-label" for="longEMA"><abbr title="required">*</abbr>长期EMA</label><div class="controls"><input class="string optional span1" id="longEMA" name="longEMA" size="50" type="text" value="{{.config.longEMA}}">(长期指数移动平均线,单位为K线周期)</div></div>

            <div class="control-group string optional" style="display: none" id="signalPeriod" ><label class="string optional control-label" for="signalPeriod"><abbr title="required">*</abbr>MACD信号线</label><div class="controls"><input class="string optional span1" id="signalPeriod" name="signalPeriod" size="50" type="text" value="{{.config.signalPeriod}}">(MACD信号线,单位为K线周期)</div></div>


            <div class="control-group string optional" style="display: none" id="buyThreshold"><label class="string optional control-label" for="buyThreshold"><abbr title="required">*</abbr>买入diff阀值</label><div class="controls"><input class="string optional span1" id="buyThreshold" name="buyThreshold" size="50" type="text" value="{{.config.buyThreshold}}">(即使EMA金叉，直到EMA diff大于买入diff阀值才进行买入)</div></div>
            
            <div class="control-group string optional" style="display: none" id="sellThreshold"><label class="string optional control-label" for="sellThreshold"><abbr title="required">*</abbr>卖出diff阀值</label><div class="controls"><input class="string optional span1" id="sellThreshold" name="sellThreshold" size="50" type="text" value="{{.config.sellThreshold}}">(即使EMA死叉，直到EMA diff小于卖出diff阀值才进行卖出)</div></div>
       
            <div class="control-group string optional" style="display: none" id="MACDbuyThreshold"><label class="string optional control-label" for="MACDbuyThreshold"><abbr title="required">*</abbr>买入Histogram阀值</label><div class="controls"><input class="string optional span1" id="MACDbuyThreshold" name="MACDbuyThreshold" size="50" type="text" value="{{.config.MACDbuyThreshold}}">(即使MACD金叉，直到MACD Histogram大于买入Histogram阀值才进行买入)</div></div>
            
            <div class="control-group string optional" style="display: none" id="MACDsellThreshold"><label class="string optional control-label" for="MACDsellThreshold"><abbr title="required">*</abbr>卖出Histogram阀值</label><div class="controls"><input class="string optional span1" id="MACDsellThreshold" name="MACDsellThreshold" size="50" type="text" value="{{.config.MACDsellThreshold}}">(即使MACD死叉，直到MACD Histogram小于卖出Histogram阀值才进行卖出)</div></div>
          </div>

          <div class="control-group string optional"><label class="string optional control-label" for="tradeAmount"><abbr title="required">*</abbr>运行时长</label><div class="controls"><input class="string optional span1" id="totalHour" name="totalHour" size="50" type="text" value="{{.config.totalHour}}">小时</div></div>

          <div class="form-actions">
              <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="提交"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}引擎设置 {{end}}

{{define "js"}}

<script type="text/javascript">
function ShowHidden()
{
	var obj = document.getElementById("strategy");
	
	var buyThreshold = document.getElementById("buyThreshold"); 
	var sellThreshold = document.getElementById("sellThreshold"); 
  var signalPeriod = document.getElementById("signalPeriod"); 
  var MACDbuyThreshold = document.getElementById("MACDbuyThreshold"); 
  var MACDsellThreshold = document.getElementById("MACDsellThreshold"); 
  var emaid = document.getElementById("ema"); 
  var kdjid = document.getElementById("kdj"); 
	console.log(obj.value);
	if (obj.value != "EMA")
	{
		console.log("dispay");
		signalPeriod.style.display = "block";
    MACDbuyThreshold.style.display = "block";
    MACDsellThreshold.style.display = "block";
	}
	else
	{ 
		console.log("dispay none");
		signalPeriod.style.display = "none";
    MACDbuyThreshold.style.display = "none";
    MACDsellThreshold.style.display = "none";
	}


	if (obj.value == "MACD")
	{
		console.log("dispay none");
		buyThreshold.style.display = "none";
		sellThreshold.style.display = "none";

	}
	else
	{ 
		console.log("dispay block");
		buyThreshold.style.display = "block";
		sellThreshold.style.display = "block";
	}

  if (obj.value == "EMAMACD"){
      MACDbuyThreshold.style.display = "none";
      sellThreshold.style.display = "none";
  }

  if (obj.value == "KDJ"){
      emaid.style.display = "none";
      kdjid.style.display = "block"
  }else{
     emaid.style.display = "block";
      kdjid.style.display = "none"
  }
  
}

$(function(){
    $.getJSON('/engineajax.json', function(data){
        if (data.tick_interval) {
          $('#tick_interval').val(data.tick_interval);
        }
        if (data.tick_interval) {
          $('#tradecenter').val(data.tradecenter);
        }
        if (data.tick_interval) {
          $('#symbol').val(data.symbol);
        }
        if (data.tick_interval) {
          $('#strategy').val(data.strategy);
          
          var buyThreshold = document.getElementById("buyThreshold"); 
			    var sellThreshold = document.getElementById("sellThreshold");
          var signalPeriod = document.getElementById("signalPeriod");  
          var MACDbuyThreshold = document.getElementById("MACDbuyThreshold"); 
          var MACDsellThreshold = document.getElementById("MACDsellThreshold"); 
          var emaid = document.getElementById("ema"); 
            if (data.strategy== "KDJ"){
                emaid.style.display = "none";
                kdjid.style.display = "block"
            }else{
                emaid.style.display = "block";
                kdjid.style.display = "none"
            }
           if (data.strategy != "EMA")
           {
    				console.log("dispay");
    				signalPeriod.style.display = "block";
            MACDbuyThreshold.style.display = "block";
            MACDsellThreshold.style.display = "block";
           }
           else
           { 
    				console.log("dispay none");
    				signalPeriod.style.display = "none";
            MACDbuyThreshold.style.display = "none";
            MACDsellThreshold.style.display = "none";
           }

           if (data.strategy == "MACD")
           {
    				console.log("dispay none");
    				buyThreshold.style.display = "none";
    				sellThreshold.style.display = "none";
           }
           else
           { 
    				console.log("dispay block");
    				buyThreshold.style.display = "block";
    				sellThreshold.style.display = "block";
           }

          if (data.strategy== "EMAMACD"){
              MACDbuyThreshold.style.display = "none";
              sellThreshold.style.display = "none";
          }

          if (data.strategy== "KDJ"){
            signalPeriod.style.display = "none";
            MACDbuyThreshold.style.display = "none";
            MACDsellThreshold.style.display = "none";
          }
        }

        console.log(data.disable_trading)
        if (data.disable_trading == "0" ) {
          $('#disable_trading').prop('checked', false);
        }else{
          $('#disable_trading').prop('checked', true);
        }
        console.log(data.disable_email)
        if (data.disable_email == "0" ) {
          $('#disable_email').prop('checked', false);
        }else{
          $('#disable_email').prop('checked', true);
        }
        
        console.log(data.disable_backtesting)
        if (data.disable_backtesting == "0" ) {
          $('#disable_backtesting').prop('checked', false);
        }else{
          $('#disable_backtesting').prop('checked', true);
        }
    });
    // 表单提交
    $('#edit_user').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
          alert(data.msg);
          location.reload();
        });
        return false;
    });
})
</script>
{{end}}