{{define "content"}}
<div id="main" class="container-fluid">
  <div class="content">
    <div class="box">
      <form accept-charset="UTF-8" action="/engine.json" class="simple_form form-horizontal edit_user" enctype="multipart/form-data" id="edit_user" method="post" novalidate="novalidate">
        
        <fieldset>
          <legend>引擎设置</legend>
          
          <div class="control-group">
            <div class="controls">
              <label class="string optional control-label" for="disable_trading" class="checkbox"><input id="disable_trading" name="disable_trading" type="checkbox"> 关闭自动交易引擎</label>
            </div>
            <div class="controls">
              <label class="string optional control-label" for="disable_email" class="checkbox"><input id="disable_email" name="disable_email" type="checkbox"> 关闭邮件通知</label>
            </div>

          </div>

          <div class="control-group email required"><label class="email required control-label" for="to_email"><abbr title="required">*</abbr>接收Email</label><div class="controls"><input class="string email required span2" id="to_email" name="to_email" size="50" type="email" value="{{.config.to_email}}"></div></div>

          <div class="control-group" style="display: none" >
            <div class="controls">
              <label class="string optional control-label" for="disable_backtesting" class="checkbox"><input id="disable_backtesting" name="disable_backtesting" type="checkbox"> 关闭后向测试backtesting</label>
            </div>
          </div>

          <div class="control-group string optional">
            <label class="string optional control-label" for="tradecenter"><abbr title="required">*</abbr>交易中心</label>
            <div class="controls">
                <select name="tradecenter" id="tradecenter" class="select-1" >
                    <option value="huobi">huobi</option>
                    <option value="okcoin">okcoin</option>
                </select>
            </div>
          </div>

          <div class="control-group string optional">
            <label class="string optional control-label" for="symbol"><abbr title="required">*</abbr>交易币种</label>
            <div class="controls">
                <select name="symbol" id="symbol" class="select-1" >
                    <option value="btc_cny">btc_cny</option>
                    <option value="ltc_cny">ltc_cny</option>
                </select>
            </div>
          </div>
          
          <div class="control-group string optional">
            <label class="string optional control-label" for="strategy"><abbr title="required">*</abbr>交易策略</label>
            <div class="controls">
                <select name="strategy" id="strategy" class="select-1" >
                    <option value="EMA">EMA</option>
                    <option value="XXX">XXX</option>
                </select>
            </div>
          </div>

          <div class="control-group string optional"><label class="string optional control-label" for="shortEMA"><abbr title="required">*</abbr>短期EMA</label><div class="controls"><input class=" string optional span1" id="shortEMA" name="shortEMA" size="50" type="text" value="{{.config.shortEMA}}"></div> </div>
         
          <div class="control-group string optional"><label class="string optional control-label" for="longEMA"><abbr title="required">*</abbr>长期EMA</label><div class="controls"><input class="string optional span1" id="longEMA" name="longEMA" size="50" type="text" value="{{.config.longEMA}}"></div></div>
          
          <div class="control-group string optional">
            <label class="string optional control-label" for="tick_interval"><abbr title="required">*</abbr>K线周期</label>
            <div class="controls">
                <select name="tick_interval" id="tick_interval" class="select-1" >
                    <option value="100">1 天</option>
                    <option value="60">1 小时</option>
                    <option value="30">30 分钟</option>
                    <option value="15">15 分钟</option>
                    <option value="5">5 分钟</option>
                    <option value="1">1 分钟</option>
                </select>
            </div>
          </div>

          <div class="control-group string optional"><label class="string optional control-label" for="tradeAmount"><abbr title="required">*</abbr>交易数量</label><div class="controls"><input class="string optional span1" id="tradeAmount" name="tradeAmount" size="50" type="text" value="{{.config.tradeAmount}}">个BTC/LTC</div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="slippage"><abbr title="required">*</abbr>交易滑动量</label><div class="controls"><input class="string optional span1" id="slippage" name="slippage" size="50" type="text" value="{{.config.slippage}}">‰</div></div>

          <div class="control-group string optional"><label class="string optional control-label" for="buyThreshold"><abbr title="required">*</abbr>买入diff阀值</label><div class="controls"><input class="string optional span1" id="buyThreshold" name="buyThreshold" size="50" type="text" value="{{.config.buyThreshold}}"></div></div>
          
          <div class="control-group string optional"><label class="string optional control-label" for="sellThreshold"><abbr title="required">*</abbr>卖出diff阀值</label><div class="controls"><input class="string optional span1" id="sellThreshold" name="sellThreshold" size="50" type="text" value="{{.config.sellThreshold}}"></div></div>
          
          <div class="control-group string optional"><label class="string optional control-label" for="stoploss"><abbr title="required">*</abbr>交易停损量</label><div class="controls"><input class="string optional span1" id="stoploss" name="stoploss" size="50" type="text" value="{{.config.stoploss}}">%</div></div>



          <div class="control-group string optional"><label class="string optional control-label" for="tradeAmount"><abbr title="required">*</abbr>运行时长</label><div class="controls"><input class="string optional span1" id="totalHour" name="totalHour" size="50" type="text" value="{{.config.totalHour}}">小时</div></div>

          <div class="form-actions">
              <input class="btn btn-primary" data-disable-with="正在保存" name="commit" type="submit" value="提交"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{{end}}
{{define "title"}}引擎设置 {{end}}

{{define "js"}}


<script type="text/javascript">

$(function(){
    $.getJSON('/engineajax.json', function(data){
        if (data.tick_interval) {
          $('#tick_interval').val(data.tick_interval);
        }
        if (data.tick_interval) {
          $('#tradecenter').val(data.tradecenter);
        }
        if (data.tick_interval) {
          $('#symbol').val(data.symbol);
        }
        if (data.tick_interval) {
          $('#strategy').val(data.strategy);
        }

        console.log(data.disable_trading)
        if (data.disable_trading == "0" ) {
          $('#disable_trading').prop('checked', false);
        }else{
          $('#disable_trading').prop('checked', true);
        }
        console.log(data.disable_email)
        if (data.disable_email == "0" ) {
          $('#disable_email').prop('checked', false);
        }else{
          $('#disable_email').prop('checked', true);
        }
        
        console.log(data.disable_backtesting)
        if (data.disable_backtesting == "0" ) {
          $('#disable_backtesting').prop('checked', false);
        }else{
          $('#disable_backtesting').prop('checked', true);
        }
    });
    // 表单提交
    $('#edit_user').submit(function(){
        var self = $(this);
        $.post(self.attr('action'), self.serialize(), function(data){
          alert(data.msg);
          location.reload();
        });
        return false;
    });
})
</script>
{{end}}