
{{define "content"}}
<div class="main">
  <div class="col1">
    <div id="topic_show" class="topics box hfeed">
      <div class="topic hentry">
        <div class="box">    
          
          <div id="Root">
          
            <div style="float: right">     
            <a href="http://bitcoinwisdom.com/" target="_blank">实时行情</a>&nbsp;
            <a href="http://fiatleak.com/" title="实时观察各国货币流入比特币情况" target="_blank">监测货币流向</a>
            </div>
                

            <form>
                        <input type="text" class="sl" placeholder="比特币地址 / Firstbits / IP / SHA散列" id="search_input2"> <input type="submit" value="Search" class="super normal button" onClick="document.location='https://blockchain.info/zh-cn/search/' + document.getElementById('search_input2').value; return false;">
            </form>
      
            <div class="sep"></div>
            <div class="column">
              <div class="column_title">从零开始</div>
              <ul class="nav">
                <li><a href="https://zh-cn.bitcoin.it/wiki/%E7%AE%80%E4%BB%8B" title="比特币简介，比特币是什么" target="_blank">比特币简介</a></li>
                <li><a href="http://btc.p2pbucks.com/" title="最全的关于比特币入门知识" style="color: green;" target="_blank">比特币是什么</a></li>
                <li><a href="http://bitcoin.org/" title="比特币官方网站" target="_blank">比特币官网</a></li>
                <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/" style="color: #ff5858;" title="最新比特币客户端下载" target="_blank">客户端下载</a></li>
                        <li><a href="http://cnbtcnews.com/bitcoin-study/what-is-bitcoin/bitcoin-from-beginner-to-master.html" title="比特币从入门到精通" target="_blank">入门到精通</a></li>
                <li><a href="https://zh-cn.bitcoin.it/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98%E8%A7%A3%E7%AD%94" title="常见问题解答" target="_blank">常见问题</a></li>
                <li><a href="http://zh.wikipedia.org/wiki/Bitcoin" title="维基百科对比特币的介绍" target="_blank">维基百科</a></li>
                <li><a href="http://nd.oeeee.com/comments/btctruth/default.shtml" title="比特币的真相" target="_blank">比特币真相</a></li>
                <li><a href="http://618.io/" title="比特币实验室，介绍比特币更深层次的知识" target="_blank">比特币实验室</a></li>
                <li><a href="http://www.8btc.com/disk" title="比特币qt钱包C盘数据迁移" target="_blank">钱包数据迁移</a></li>
                        <li><a href="http://bitcoin.org/zh_CN/choose-your-wallet" title="如何选择适合自己的钱包" target="_blank">选择钱包</a></li>
                <li><a href="http://8btc.com/thread-819-1-1.html" title="如何保护好我们的比特币" target="_blank">保护钱包</a></li>
                
              </ul>
            </div>
            
            <div class="column">
              <div class="column_title">挖矿信息</div>
              <ul class="nav">
                  <li><a href="http://btc0.com/speed.html" title="难度与算力走势图" target="_blank">难度与算力图</a></li>
                <li><a href="http://blockchain.info/pools" title="全网运算分布" target="_blank">全网运算分布</a></li>
                        <li><a href="http://jingyan.baidu.com/article/359911f5062d2d57ff030659.html" title="初级挖矿教学" target="_blank">挖矿教学</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=28402.0" title="挖矿软件" target="_blank">CGminer官方</a></li>
                <li><a href="http://mining.btcfans.com/" title="比特币挖矿收益计算器" target="_blank">算力收益计算</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=9239.0" title="Ubuntu挖矿" target="_blank">Ubuntu挖矿</a></li>
                <li><a href="http://f2pool.com/" title="国内最大矿池" target="_blank">F2Pool鱼池</a></li>
                <li><a href="http://www.btcguild.com/" title="国外最大矿池" target="_blank">BTCGuild</a></li>
                <li><a href="http://deepbit.net/" title="Deepbit矿池" target="_blank">Deepbit</a></li>
                <li><a href="https://50btc.com/" title="50BTC矿池" target="_blank">50BTC</a></li>
                <li><a href="http://minr.info/" title="ASIC矿机追踪" target="_blank">矿机追踪</a></li>

              </ul>
            </div>
            
            
            <div class="column">
              <div class="column_title">交易网站</div>
              <ul class="nav">
                <li><a href="https://btcchina.com/" title="国内最大的比特币交易中心" target="_blank">比特币中国</a></li>
                <li><a href='https://www.huobi.com/?a=regist_gift&utm_source=538749' style="color: #ff5858;" title="火币网—中国最专业的比特币交易平台" target='_blank'>火币网</a></li>
                <li><a href="https://www.okcoin.com/?invite=3308456" title="比特币OKCoin交易网" target="_blank">OKCoin</a></li>
                <li><a href="https://www.mtgox.com/" title="比特币最大交易中心" target="_blank">MTGox</a></li>
                <li><a href="http://www.btctrade.com/" title="比特币交易网" target="_blank">比特币交易网</a></li>
                <li><a href="https://www.bitstamp.net/" title="英国比特币交易网站" target="_blank">Bitstamp</a></li>
                <li><a href="https://btc-e.com/" title="俄罗斯比特币交易网站" style="color: green;" target="_blank">BTC-E</a></li>
                <li><a href="https://www.coins-e.com/?ref=6002170121945088" title="coins-e" target="_blank">coins-e</a></li>
                <li><a href="https://vircurex.com/" title="Vircurex" target="_blank">Vircurex</a></li>
                <li><a href="https://www.cryptsy.com/" title="Cryptsy" target="_blank">Cryptsy</a></li>
              </ul>
            </div>
            
            <div class="column">

              <div class="column_title">资讯&nbsp;·&nbsp;论坛</div>
              <ul class="nav">
                <li><a href="https://bitcointalk.org/" title="全球最大的比特币论坛" target="_blank">Bitcointalk</a></li>
                <li><a href="http://www.8btc.com/" title="巴比特" style="color: #ff5858;" target="_blank">巴比特</a></li>
                <li><a href="http://www.reddit.com/r/Bitcoin/" title="Reddit的比特币订阅" target="_blank">Reddit订阅</a></li>
                <li><a href="http://wtbtc.com/" title="比特币实时新闻" target="_blank">实时新闻</a></li>
                <li><a href="http://bitcoinweekly.com/" title="比特币周报" target="_blank">比特币周报</a></li>
                <li><a href="http://www.yibite.com/" title="壹比特" target="_blank">壹比特</a></li>
                <li><a href="http://bbs.btcman.com/" title="比特人" target="_blank">比特人</a></li>
                <li><a href="http://www.btc38.com/" title="比特时代" target="_blank">比特时代</a></li>
              </ul>
            </div>
            
            <div class="column">
              <div class="column_title">投资&nbsp;·&nbsp;股票</div>
              <ul class="nav">
                <li><a href="https://796.com" title="796交易所" style="color: green;" target="_blank">796交易所</a></li>
                <li><a href="http://mpex.co/" title="交易所中的技术派" target="_blank">MPEX</a></li>
                <li><a href="https://cryptostocks.com/" title="CryptoStocks" target="_blank">CryptoStocks</a></li>
                <li><a href="https://www.havelockinvestments.com" title="加拿大交易所" target="_blank">Havelock</a></li>
                <li><a href="https://picostocks.com" title="波兰交易所" target="_blank">Picostocks</a></li>
                <li><a href="https://bitfunder.com/asset/G.ASICMINER-PT" title="烤猫股票" target="_blank">烤猫股票</a></li>
                <li><a href="https://bitfunder.com/asset/btcQuick" title="btcQuick股票" target="_blank">BQ股票</a></li>
              </ul>
            </div>
            
 
            
            
            <div class="column">
              <div class="column_title">工具</div>
              <ul class="nav">
                <li><a href="https://bitcoinpaperwallet.com/bitcoinpaperwallet/generate-wallet.html?design=chinese-new-year" title="生成纸钱包" target="_blank">生成纸钱包</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=25804.0" title="自定义钱包地址工具" target="_blank">Vanitygen</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=34028.0" title="钱包管理工具" target="_blank">Pywallet</a></li>
                <li><a href="https://bitmessage.org/" title="去中心化加密聊天工具" target="_blank">Bitmessage</a></li>
                <li><a href="http://brainwallet.org/" title="脑钱包" target="_blank">脑钱包</a></li>
                <li><a href="https://howsecureismypassword.net/" title="测试密码强度" target="_blank">测试密码强度</a></li>
                <li><a href="http://xingfeng.org/?p=5" title="钱包密码找回工具" target="_blank">钱包密码找回</a></li>
                
              </ul>
            </div>
            
            <div class="column">
              <div class="column_title">数据查询</div>
              <ul class="nav">
                <li><a href="http://blockchain.info/" title="blockchain" target="_blank">Block Chain</a></li>
                <li><a href="http://btckan.com/price" title="币看-比特币行情资讯" style="color: green;" target="_blank">币看网</a></li>
                <li><a href="http://bitcoincharts.com/markets/" title="BitcoinChart" target="_blank">BitcoinChart</a></li>
                <li><a href="http://ondn.net/" title="比特币资产排名及查询" style="color: #ff5858;" target="_blank">土豪榜</a></li>
                <li><a href="https://ferroh.com/charts" title="比特币交易热点图" target="_blank">交易热点图</a></li>
                <li><a href="http://btclook.com/" title="BTCLook" target="_blank">BTCLook</a></li>
                <li><a href="http://luke.dashjr.org/programs/bitcoin/files/charts/branches.html" title="各种客户端版本分布率" target="_blank">版本分布率</a></li>
                <li><a href="http://blockchain.info/nodes-globe" title="全球比特币的节点" target="_blank">全球节点</a></li>
                <li><a href="https://www.secondmarket.com/education/landing/bitcoin-ecosystem" title="比特币生态系统" target="_blank">比特币生态系统</a></li>
                <li><a href="http://www.coinchoose.com/charts.php" title="各种虚拟货币占比率" target="_blank">货币占比率</a></li>
                <li><a href="http://www.bittop100.com/%E6%AF%94%E7%89%B9%E5%B8%81%E8%AF%81%E5%88%B8%E6%8A%95%E8%B5%84-bit-invest/" title="比特币证券投资指数" target="_blank">比特证券指数</a></li>
              </ul>
            </div>
            
            
            <div class="clear"></div>

            <div class="sep"></div>
            

            

            <div class="column">
              <div class="column_title">其他山寨币</div>
              <ul class="nav">
                  <li><a href="http://coinmarketcap.com/" title="山寨币市值排名" target="_blank">山寨币排名</a></li>
                <li><a href="http://cryptocoinexplorer.com/" title="各种山寨币区块" target="_blank">山寨币区块</a></li>
                <li><a href="http://www.cryptocoincharts.info/" title="最全的山寨币走势图" target="_blank">山寨币走势图</a></li>
                  <li><a href="https://litecoin.org/zh_HANS" title="莱特币官方网站" target="_blank">LTC官方网站</a></li>
                <li><a href="http://bitinfocharts.com/comparison/difficulty-ltc.html" title="LTC难度走势" target="_blank">LTC难度走势</a></li>
                <li><a href="http://ltc.kattare.com/calc.php" title="LTC挖矿收益计算器" target="_blank">LTC挖矿收益</a></li>
                <li><a href="http://bitinfocharts.com/zh/top-100-richest-litecoin-addresses.html" title="LTC土豪榜" target="_blank">LTC土豪榜</a></li>
                <li><a href="http://dot-bit.org/" title="Namecoin官方网站" target="_blank">NMC</a><a href="http://www.geekpark.net/read/view/176906" title="Namecoin介绍" target="_blank">NMC介绍</a></li>
                <li><a href="http://8btc.com/forum-66-1.html" title="比特股（Bitshares）论坛" target="_blank">比特股论坛</a></li>
                <li><a href="http://www.nxtcrypto.org/" title="NXT官方网站" target="_blank">NXT官方</a></li>
                
            </ul>
            </div>
           <div class="column">
              <div class="column_title">应用网站</div>
              <ul class="nav">
                <li><a href="http://www.satoshidice.com/" title="中本聪骰子" target="_blank">中本聪骰子</a></li>
                <li><a href="https://just-dice.com/" title="骰子赌博网站" target="_blank">Just-Dice</a></li>
                <li><a href="http://www.btctele.com/" title="比特币充话费" target="_blank">比特币充话费</a></li>
                <li><a href="http://www.cointagion.com/" title="电子书商城" target="_blank">Cointagion</a></li>
                <li><a href="https://www.bitvps.com/" title="VPS提供商" target="_blank">BITVPS</a></li>
              </ul>
            </div>
            <div class="column">
              <div class="column_title">钱包</div>
              <ul class="nav">
                        <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/" title="官方钱包" target="_blank">官方钱包</a></li>
                <li><a href="https://multibit.org/" title="multibit" target="_blank">multibit</a></li>
                <li><a href="http://bitcoinarmory.com/" title="Armory" target="_blank">Armory</a></li>
                <li><a href="https://blockchain.info/wallet/" title="Blockchain在线钱包" style="color: green;" target="_blank">Blockchain</a></li>
                <li><a href="https://litecoin.org/" title="莱特币LTC钱包" target="_blank">莱特币钱包</a></li>
                <li><a href="http://sourceforge.net/projects/ppcoin/files/" title="点点币PPC钱包" target="_blank">点点币钱包</a></li>
                <li><a href="http://sourceforge.net/projects/primecoin/files/" title="素数币XPM钱包" target="_blank">素数币钱包</a></li>

              </ul>
            </div>
            
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{{end}}


{{define "title"}}BitCoin Robot{{end}}
{{define "css"}}
 <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
{{end}}
{{define "js"}}
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
    <script src="/static/js/technical-indicators.src.js"></script>
    <script src="/static/js/okcoin.js"></script>
{{end}}.column {
    float: left;
    font-size: 12px;
    margin-right: 10px;
    background-color: #fff;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}